.app {
    &__button--add-task {
        background-color: var(--bg-secondary);
        color: var(--white-color);
        display: flex;
        gap: .2rem;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        padding: .2rem 1rem;
        margin: 1.25rem auto;
    }

    &__form-add-task {
        background-color: var(--white-color);
        width: 400px;
        padding: 1rem;
        margin: 0 auto;

        textarea {
            width: 80%;
            height: 4rem;
            padding: .4rem .8rem;
            margin-top: 1rem;
        }

        footer {
            display: flex;
            justify-content: space-between;
            margin: 1rem 2rem 0 2rem;
    
            .app__form-footer-button {
                display: flex;
                gap: .2rem;
                border: none;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }

    .hidden {
        display: none;
    }
}