.app {
    &__tasks-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        border-radius: 6px;
        padding: 1rem;

        &-completed {
            background-color: green;
        }

        &-notCompleted {
            background-color: gray;
        }

        &--actions {
            button {
                background: transparent;
                border: none;

                svg {
                    color: var(--white-color);
                    font-size: 1rem;
                    margin-left: .6rem;
                    cursor: pointer;
                }
            }
        }
    }

    .task-selected {
        border: 2px solid white;
    }
}